:root {
    --main-color: green; 
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Hind Siliguri', sans-serif;
    vertical-align: baseline;
    text-decoration: none; 
}

body {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 56px;
    background-color: #ffffff;
    margin: 0; 
    padding: 0; 
}

.headingForProjects {
    width: 100%; 
    grid-column: 2 / span 1;
    margin-top: 80px; 
    margin-bottom: 8px
}

.section1 {
    background-color: #f5f5f5;
    grid-column: 2 / span 1;
    display: flex; 
    justify-content: center; 
    padding: 80px 0;
    align-items: flex-start;
}

.section1:hover {
    opacity: .7;
    cursor: pointer
}

.lastSection {
    margin-bottom: 80px;
}



.section1Image {
    width: 60%;
}


.section2 {
    background-color: #f5f5f5;
    grid-column: 2 / span 1;
    display: flex; 
    justify-content: center; 
    padding: 80px 0;
    align-items: flex-start;
}

.section2:hover {
    opacity: .7;
}


.section2Image {
    width: 40%
}

.section2 .last {
    margin-left: 5%
}

.logo {
    text-decoration: none;
    font-size: 24px;
    color: #222;
    display: flex; 
}

.descriptionBox {
    grid-column: 2 / span 1;
    margin-top: 40px; 
}

.mainH1 {
    font-size: 32px;
    margin: 0 0 8px 0 ; 
    padding: 0;
    line-height: 1.2;
    width: 100%; 
    font-weight: 100;

}

.mainH2 {
  font-size: 18px; 
  font-weight: 300; 
  padding: 0; 
  margin: 0; 
  line-height: 1.4;
  width: 100%;
}

p {
    font-size: 18px
}

.headerSmall {
    font-size: 21px; 
    font-weight: 500; 
}

.whiteText {
    color: #ffffff;
}

.boldText {
    font-weight: 700;
}

.myDescription {
    line-height: 1.4
}

.mainLink {
  text-decoration: none; 
  color: var(--main-color); 
  line-height: 1;
  font-size: 18px; 
    width: 100%; 
}

.mainHeader {
    grid-column: 2 / span 1 ;
    background-color: white;
    margin-top: 40px
}


.letsChat {
    color: var(--main-color); 
    font-weight: 700;
}



.pictureOfThing {
    margin:  0px 24px; 
}

.textThing {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
}

a {
    color: #52d98a;
    text-align: center;
}

a:hover {
    color: #43b573
}


.footer {
    background-color: #f5f5f5; 
    grid-column: 1 / span 4; 
    padding: 24px 0px; 
}

.footerThings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.phoneIcon {
    display: flex; 
    margin-right: 24px; 
    margin-left: 8px
    
}

.emailIcon {
    display: flex;
    margin-left: 8px; 
}

.footerThings h2 {
    margin-left: 8px;
}

@media only screen and (min-width: 600px) {
    body {
        grid-template-columns: 20% auto 20%;

    }
    
    .footerThings {
    }
    .section2Image {
        width: 200px
    }
    
   
}

@media only screen and (max-width: 600px) {
     .mainH1 {
        width: 100%;
    }
}


@media only screen and (max-width: 370px) {
    .emailIcon {
        margin-top: 16px;
    }
}





/*Case Study CSS */
.mainContent {
    width: 100%; 
    grid-column: 2 / span 1;
    margin-top: 24px
}

.mainContent li {
    line-height: 1.5; 
    margin-bottom: 8px; 
    font-size: 18px
}


.flexSection {
    display: flex;
}



.imageOnThingButNeverGoAway {
    float: left; 
    margin-right: 24px;
    margin-bottom: 16px;
    padding: 0 auto;
}

.imageOnThing {
    float: left; 
    margin-right: 24px;
    margin-bottom: 16px;
    padding: 0 auto;
}

.imageSizeSmall {
    width: 400px; 
    margin-bottom: 4px;
}

.imageSizeXS {
    width: 200px
}

.imageSizeMedium {
    width: 100%; 
}

@media only screen and (max-width: 600px) {
    .imageOnThing {
        float: none; 
        margin-right: 0; 
        text-align: center;
    }
    
    .imageSizeSmall {
        width: 300px; 
        margin-bottom: 4px;
    }
}

@media only screen and (max-width: 500px) {
    .imageSizeXS {
        width: 150px;
    }
}

.fullWidth {
    width: 80%;
    display: flex; 
    justify-content: center;
    margin: 24px auto;
}

.fullHeight {
    margin-bottom: 24px
}
